* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: vani;
	src: url(font/Vani.ttf);
}

body, html {
	width: 100%;
	height: 100%;
}

/*===============================================*/
.bg_home {
	width: 100%;
	height: 100%;
	background: url("./images/Barber.png") no-repeat center;
	background-size: cover;
}

.bg_home .container_home {
	text-align: center;
}

.bg_home .layer_home {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg_home .nav_home {
	background-color: rgba(0, 0, 0, 0.25);
}

.bg_home .justify-content-center {
	line-height: 41px;
	height: 54px;
}

.bg_home .nav-link {
	color: #ffffff;
	font-family: 'Quattrocento Sans', sans-serif;
	height: 54px;
}

.bg_home .nav-link:hover {
	color: #000000;
	background-color: #85736c;
	transition: 0.5s;
}

.bg_home .title_home {
	font-family: vani, serif;
	font-size: 40pt;
	font-weight: 700;
	width: 198px;
	margin-top: 187px;
	margin-left: 22%;
	line-height: 68px;
	
}

.bg_home .button_home {
	background-color: rgba(177, 177, 177, 0);
	padding: 15px 12px;
	color: #ffffff;
	border-shadow: none;
	border: 2px solid #985336;
	position: absolute;
	left: 22%;
	top: 460px;
	outline: none;
	font-size: 25px;
}

.bg_home .left_home {
	background-color: rgba(177, 177, 177, 0);
	width: 65px;
	height: 65px;
	border: 2px solid #985336;
	color: #985336;
	padding: 20px;
	font-weight: bold;
	outline: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 100%;
	position: absolute;
	left: 3%;
	top: 47%;
}

.bg_home .right_home {
	background-color: rgba(177, 177, 177, 0);
	width: 65px;
	height: 65px;
	border: 2px solid #985336;
	color: #985336;
	padding: 20px;
	font-weight: bold;
	outline: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 100%;
	position: absolute;
	right: 3%;
	top: 47%;
}

.bg_home .left_home:hover, .bg_home .right_home:hover {
	background-color: #985336;
	color: #ffffff;
	transition: 0.3s;
	cursor: pointer;
}

/*==================================================*/
.about_page {
	text-align: center;
	padding-top: 1px;
}

.about_page .title_about {
	margin-top: 8%;
	font-family: vani, serif;
	font-weight: bold;
	font-size: 24pt;
	height: 38px;
}

.about_page .img_about {
	width: 250px;
}

.about_page .description_about {
	font-family: 'Quattrocento Sans', sans-serif;
	width: 40%;
	margin-left: 30%;
	margin-top: 15px;
	margin-bottom: 100px;
}

.checked {
	color: #985336;
}

@media (min-width: 576px) {
	.col-sm {
		max-width: 20%;
		margin-left: 8%;
	}
}

/*==================================================*/
.description_clientsay{
	font-family: 'Quattrocento Sans', sans-serif;
	width: 40%;
	margin-left: 30%;
	margin-top: 15px;
	margin-bottom: 30px;
}